<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starsearth.one">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.StarsEarthApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_computer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.KeyboardActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|smallestScreenSize|navigation|locale|layoutDirection|fontScale"
            android:label="@string/keyboard_test" />
        <activity
            android:name=".activity.auth.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.AdminModeActivity" />
        <activity android:name=".activity.auth.SignupActivity" />
        <activity
            android:name=".activity.MainSEActivity"
            android:label="@string/main_menu" />
        <activity
            android:name=".activity.tasks.QuestionActivity"
            android:label="@string/title_activity_question"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.auth.ChangePasswordActivity" />
        <activity android:name=".activity.welcome.WelcomeOneActivity">

            <!-- Welcome intent goes here -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.welcome.WelcomeTwoActivity" />
        <activity
            android:name=".activity.tasks.TaskTypingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ResultActivity"
            android:configChanges="orientation"
            android:label="@string/typing_game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.auth.AddEditPhoneNumberActivity"
            android:label="@string/enter_phone_number"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.auth.SendOTPActivity"
            android:configChanges="orientation"
            android:label="@string/enter_otp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.profile.PhoneNumberActivity"
            android:label="@string/phone_number" />
        <activity
            android:name=".activity.profile.FullNameActivity"
            android:label="@string/title_activity_full_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>